<template>
  <div>
    <div class="event-header">
      <span class="eyebrow">
        @{{ formattedTime }}
        on {{ formattedDate }}
      </span>
      <h1 class="title">{{ event.title }}</h1>
      <h5>Organized by: {{ organizerName }}</h5>
      <h5>Category: {{ event.category }}</h5>
    </div>
    <BaseIcon name="map">
      <h2>Location</h2>
    </BaseIcon>
    <address>{{ event.location }}</address>
    <h2>Event details</h2>
    <p>{{ event.description }}</p>
    <h2>
      Attendees
      <span class="badge -fill-gradient">{{ event.attendees ? event.attendees.length : 0 }}</span>
    </h2>
    <ul class="list-group">
      <li v-for="(attendee, index) in event.attendees" :key="index" class="list-item">
        <b>{{ attendee.name }}</b>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  props: {
    event: {
      type: Object,
      required: true
    }
  },
  computed: {
    organizerName() {
      let event = this.event
      let orgName = 'not specified'
      if (event.organizer) {
        if (event.organizer.user && event.organizer.user.name) {
          orgName = event.organizer.user.name
        } else if (event.organizer.name) {
          orgName = event.organizer.name
        } else {
          orgName = event.organizer
        }
      }
      return orgName
    },
    formattedDate() {
      let event = this.event
      return event.date
        ? new Date(event.date).toLocaleDateString('en-US', {
            weekday: 'short',
            year: 'numeric',
            month: 'short',
            day: 'numeric'
          })
        : 'date not specified'
    },
    formattedTime() {
      let event = this.event
      return event.time ? event.time : 'time not specified'
    }
  }
}
</script>

<style scoped>
.location {
  margin-bottom: 0;
}
.location > .icon {
  margin-left: 10px;
}
.event-header > .title {
  margin: 0;
}
.list-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-group > .list-item {
  padding: 1em 0;
  border-bottom: solid 1px #e5e5e5;
}
</style>