<template>
  <div>
    <h1>Events for {{ userModule.user.name }}</h1>
    <EventCard v-for="event in eventModule.events" :key="event.id" :event="event"/>
    <template v-if="page > 1">
      <router-link
        :to="{ name: 'event-list', query: { page: page - 1 } }"
        style="float: left"
        rel="prev"
      >Previous Page</router-link>
    </template>
    <template v-if="hasNextPage">
      <router-link
        :to="{ name: 'event-list', query: { page: page + 1 } }"
        style="float: right"
        rel="next"
      >Next Page</router-link>
    </template>
  </div>
</template>

<script>
import EventCard from '@/components/EventCard.vue'
import { mapState, mapActions } from 'vuex'
import store from '@/store/store'

function getPageEvents(routeTo, next) {
  const currentPage = parseInt(routeTo.query.page) || 1
  store
    .dispatch('eventModule/fetchEventsAsync', { pageToStartWith: currentPage })
    .then(() => {
      routeTo.params.page = currentPage
      next()
    })
}

export default {
  props: {
    page: {
      type: Number,
      required: true
    }
  },
  components: {
    EventCard
  },
  beforeRouteEnter(routeTo, routeFrom, next) {
    getPageEvents(routeTo, next)
  },
  beforeRouteUpdate(routeTo, routeFrom, next) {
    getPageEvents(routeTo, next)
  },
  computed: {
    hasNextPage() {
      return (
        this.eventModule.eventsTotal > this.page * this.eventModule.howManyPerPage
      )
    },
    ...mapState(['eventModule', 'userModule'])
  },
  methods: mapActions('eventModule', ['fetchEventsAsync'])
}
</script>
