<template>
  <div>
    <h1>Create Event</h1>
    <div class="field">
      <label>Organizer</label>
      <p>{{ user.name }}</p>
    </div>
    <form @submit.prevent="createEvent">
      <BaseSelect
        class="field"
        :class="{ error: $v.event.category.$error }"
        label="Select a category"
        :options="categories"
        v-model="event.category"
        @blur="$v.event.category.$touch()"
      />
      <template v-if="$v.event.category.$error">
        <p class="errorMessage" v-if="!$v.event.category.required">Category is required</p>
      </template>
      <h3>Name & describe your event</h3>
      <BaseInput
        :class="{ error: $v.event.title.$error }"
        class="field"
        type="text"
        placeholder="Title"
        label="Title"
        v-model="event.title"
        @blur="$v.event.title.$touch()"
      />
      <template v-if="$v.event.title.$error">
        <p class="errorMessage" v-if="!$v.event.title.required">Title is required</p>
      </template>
      <BaseInput
        :class="{ error: $v.event.description.$error }"
        class="field"
        type="text"
        placeholder="Description"
        label="Description"
        v-model="event.description"
        @blur="$v.event.description.$touch()"
      />
      <template v-if="$v.event.description.$error">
        <p class="errorMessage" v-if="!$v.event.description.required">Description is required</p>
      </template>
      <h3>Where is your event?</h3>
      <BaseInput
        :class="{ error: $v.event.location.$error }"
        class="field"
        type="text"
        placeholder="Location"
        label="Location"
        v-model="event.location"
        @blur="$v.event.location.$touch()"
      />
      <template v-if="$v.event.location.$error">
        <p class="errorMessage" v-if="!$v.event.location.required">Location is required</p>
      </template>
      <h3>When is your event?</h3>
      <div class="field">
        <label>Date</label>
        <Datepicker
          :input-class="{ error: $v.event.date.$error }"
          v-model="event.date"
          placeholder="Select a date"
          @opened="$v.event.date.$touch()"
        />
      </div>
      <template v-if="$v.event.date.$error">
        <p class="errorMessage" v-if="!$v.event.date.required">Date is required</p>
      </template>
      <BaseSelect
        class="field"
        :class="{ error: $v.event.time.$error }"
        label="Select a time"
        :options="times"
        v-model="event.time"
        @blur="$v.event.time.$touch()"
      />
      <template v-if="$v.event.time.$error">
        <p class="errorMessage" v-if="!$v.event.time.required">Category is required</p>
      </template>
      <BaseButton type="submit" dynamicClasses="-fill-gradient" :disabled="$v.$anyError">Submit</BaseButton>
      <p class="errorMessage" v-if="$v.$anyError">Please, fill out all required fields</p>
    </form>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import { mapGetters, mapActions } from 'vuex'
import NProgress from 'nprogress'
import { required } from 'vuelidate/lib/validators'

export default {
  components: {
    Datepicker
  },
  data() {
    const times = []
    for (let i = 0; i < 24; i++) {
      times.push(('0' + i).slice(-2) + ':00')
    }
    return {
      user: this.$store.state.userModule.user,
      categories: this.$store.state.categories,
      times,
      event: this.createFreshEventObject()
    }
  },
  computed: {
    ...mapGetters('eventModule', ['getEventById'])
  },
  validations: {
    event: {
      category: { required },
      title: { required },
      date: { required },
      time: { required },
      location: { required },
      description: { required }
    }
  },
  methods: {
    ...mapActions('eventModule', ['addEventAsync']),
    createEvent() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        NProgress.start()
        this.addEventAsync(this.event)
          .then(() => {
            this.$router.push({
              name: 'event-show',
              params: { id: this.event.id }
            })
            this.event = this.createFreshEventObject()
          })
          .catch(() => {
            NProgress.done()
          })
      }
    },
    createFreshEventObject() {
      const organizer = this.$store.state.userModule
      const eventId = Math.floor(Math.random() * 10000000)
      return {
        id: eventId,
        title: '',
        date: '',
        time: '',
        location: '',
        description: '',
        organizer,
        category: '',
        attendees: []
      }
    }
  }
}
</script>

<style scoped>
.field {
  margin-bottom: 24px;
}
</style>
