<template>
  <form @submit.prevent="submit">
    <div>
      <input
        :class="{ error: $v.email.$error }"
        type="email"
        placeholder="Your email"
        v-model="email"
        @blur="$v.email.$touch()"
      >
    </div>
    <div v-if="$v.email.$error">
      <p class="errorMessage" v-if="!$v.email.email">Please, enter a valid email</p>
      <p class="errorMessage" v-if="!$v.email.required">Email is required</p>
    </div>
    <div>
      <button type="submit" :disabled="$v.$invalid">Submit</button>
      <div v-if="$v.email.$error">
        <p class="errorMessage" v-if="$v.$anyError">Please, fill out all required fields</p>
      </div>
    </div>
  </form>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      email: null
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  methods: {
    submit() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        console.log('Form submitted:', this.email)
      }
    }
  }
}
</script>
