<template>
  <div>
    <h1>Uh-Oh :(</h1>
    <h3>Seems like you're experiencing some network issues!</h3>
    <p>Please click the 'Back' button and try again :)</p>
    <p>...or
      <router-link :to="{ name: 'event-list' }">go back to the home page</router-link>
    </p>
  </div>
</template>
